/* not sure if I should move this to TimezoneModal.css */
.container__timezone {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    cursor: pointer;
}

.container__timezone:hover>.edit-icon {
    display: block;
}

.edit-icon {
    fill: currentColor;
    flex-shrink: 0;
    /* Set height to em of h2, there is probably a better way to do this */
    height: 1.5em;
    width: 1.5em;

    display: none;
}